﻿@model s1071546.ViewModel.BMIdata
@{
    ViewBag.Title = "Index";
}

<h2>BMI計算</h2>

<form action="/BMI/Index" method="post">
    @Html.DisplayNameFor(m => m.Height)
    @Html.TextBoxFor(m => m.Height) 公分
    @Html.ValidationMessageFor(modelItem => @Model.Height)<br />

    @Html.DisplayNameFor(m => m.Weight)
    @Html.TextBoxFor(m => m.Weight)  公斤
    @Html.ValidationMessageFor(modelItem => @Model.Weight)<br />

    <p><input type="submit" name="name" value="送出" /></p>

    <p>BMI:@Model.Result</p>
    <p>等級:@Model.Level</p>
</form>

