﻿
@{
    ViewBag.Title = "HtmlHelper";
}

<h2>HtmlHelper</h2>

<p>
    姓名:@Html.TextBox("name","你的名字")
</p>

<p>
    帳號:@Html.TextBox("name", "你的帳號")
</p>

<p>
    密碼:@Html.Password("password")
</p>

    <p>
        性別:
    </p>

    <p>
        @Html.RadioButton("man","1")男生
    </p>

    <p>
        @Html.RadioButton("man", "2")女生
    </p>

    <p>
        興趣:
    </p>

    <p>
        @Html.CheckBox("ins","sw")游泳
    </p>

    <p>
        @Html.CheckBox("ins", "run")跑步
    </p>

<p>
    連絡我:
</p>

<p>
    @Html.TextArea("text","說些什麼...")
</p>

@*<p>
        姓名:<input type="text" name="name" value="" />
    </p>

    <p>
        帳號:<input type="text" name="name" value="" />
    </p>

    <p>
        密碼:<input type="password" name="name" value="" />
    </p>

    <p>
        性別:
    </p>

    <p>
        <input type="radio" name="gender" value="A" />男生
    </p>

    <p>
        <input type="radio" name="gender" value="B" />女生
    </p>

    <p>
        興趣:
    </p>

    <p>
        <input type="checkbox" name="item" value="" />游泳
    </p>

    <p>
        <input type="checkbox" name="item" value="" />跑步
    </p>*@
