﻿
@{
    ViewBag.Title = "Razor";
}

<h2>Razor</h2>

<p>
    @for (int i = 1; i <= 10; i++)
    {
    <p>@i</p>
    }
</p>

@{ 
    string[] fruits = { "蘋果", "西瓜", "鳳梨", "香蕉", "荔枝", "柿子" };
}

@foreach(var item in fruits){
    <ol>
        <li>@item</li>
    </ol>
}

